body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: verdana;
}

header {
	width: 100%;
	padding: 4px;
	height: 40px;
	position: fixed;
	top: 0;
	text-align: center;
	background-color: rgba(25, 30, 150, 0.5);
}

.options {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: 10px;
	background-color: rgba(25, 30, 150, 0.5);
}

main {
	margin-top: 60px;
}

.options button {
	padding: 0.75em;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
	cursor: pointer;
}

.right {
	float: right;
	margin-right: 18px;
}

.left {
	float: left;
}

.empty {
	margin-top: 150px;
	vertical-align: middle;
}

.empty h4 {
	text-align: center;
	font: 200 1.5em helvetica;
	margin-top: 100px;
}

section.note {
	text-align: center;
}

.note-edit {
	padding-top: 20px;
	margin-top: 15px;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

select,
textarea {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border: 0;
	border-bottom: 2px solid rgb(87, 158, 190);
	outline: none;
}

.note-edit textarea {
	width: 100%;
	padding: 4px;
	margin: 0.77em auto;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
	display: block;
}

.note-edit select {
	padding: 6px;
}

.note-edit button {
	margin: 9px;
	padding: 0.76em;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: rgba(25, 30, 150, 0.5);
}

.note-list {
	font: 300 0.92em helvetica;
	border: 1px ridge grey;
	border-top: 0;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 2px;
	cursor: pointer;
}

span.time {
	font: 100 italic 0.7em cursive;
	float: right;
	margin-right: 10px;
}

.note-list p {
	margin-bottom: 4px;
}

.note-text {
	text-align: left;
	margin-left: 10px;
	max-width: 550px;
	font: 300 0.94em "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
		Geneva, Verdana, sans-serif;
	line-height: 23px;
}

@media screen and (min-width: 800px) {
	.note-text {
		width: 70%;
		margin: auto;
	}
}
